.dropdown-container {
    position: relative;
    margin-top: -144px;
    left: 0;
    margin-right: auto;
    margin-left: 25rem;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
  
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  
  .dropdown-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-options li:hover {
    background-color: #e9f3ed;
  }
  
  .dropdown-options li {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
  }
  
  .option-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .option-title {
    font-weight: bold;
    font-size: 12px;
  }
  
  .option-description {
    font-size: 10px;
    margin-top: 4px;
    color:#686464
  }
  
  .dropdown-title {
    text-transform: uppercase;
    font-size: 12px;
  }
  