  .wrapper-class {
    padding: 1rem;
  }
  
  .editor-class {
    background-color:#f8f8fd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .toolbar-class {
    border: 1px solid #faf3f3;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  
  
  .toolbar-class .rdw-editor-toolbar {
    display: flex;
    align-items: center;
  }
  
  .toolbar-class .rdw-editor-toolbar-wrapper {
    flex-grow: 1;
  }
  
  .toolbar-class .rdw-editor-toolbar {
    flex-grow: 1;
  }
  
 /* Word count */

.Editor-footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #fff;
  }
  
  .word-count {
    font-size: 14px;
    color: #555555;
    margin-left: auto;
   text-align: right;
  
  }
  