.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
}

.App-header {
  text-align: left;
  font-size: 19px;
  font-weight: bold;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 10px;
}


.Editor-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  padding-bottom: 100px;
}

.wrapper-class {
  padding: 1rem;
}

.editor-class {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.toolbar-class {
  border: 1px solid #faf3f3;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


.toolbar-class .rdw-editor-toolbar {
  display: flex;
  align-items: center;
}

.toolbar-class .rdw-editor-toolbar-wrapper {
  flex-grow: 1;
}

.toolbar-class .rdw-editor-toolbar {
  flex-grow: 1;
}

.selected-image {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-right: auto;
  margin-left: 24rem;
  position: relative;
  bottom: 93px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #e7f1e9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}

.dropdown-container {
  position: relative;
  margin-top: -90px;
  left: 0;
  margin-right: auto;
  margin-left: 24rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.dropdown-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-options li:hover {
  background-color: #e9f3ed;
}

.dropdown-options li {
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}

.option-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.option-title {
  font-weight: bold;
  font-size: 12px;
}

.option-description {
  font-size: 10px;
  margin-top: 4px;
  color:#686464
}

.dropdown-title {
  text-transform: uppercase;
  font-size: 12px;
}