.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
}

.App-header {
  text-align: left;
  font-size: 19px;
  font-weight: bold;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 10px;
}
.Editor-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  padding-bottom: 150px;
}

.wrapper-class {
  padding: 1rem;
}

.editor-class {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.toolbar-class {
  border: 1px solid #faf3f3;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


.toolbar-class .rdw-editor-toolbar {
  display: flex;
  align-items: center;
}

.toolbar-class .rdw-editor-toolbar-wrapper {
  flex-grow: 1;
}

.toolbar-class .rdw-editor-toolbar {
  flex-grow: 1;
}

.selected-image {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-right: auto;
  margin-left: 25rem;
  position: relative;
  bottom: 150px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #e7f1e9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}


.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #007bff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
