.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
}

.App-header {
  text-align: left;
  font-size: 19px;
  font-weight: bold;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 10px;
}


.Editor-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  padding-bottom: 150px;
}

.wrapper-class {
  padding: 1rem;
}

.editor-class {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.toolbar-class {
  border: 1px solid #faf3f3;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}


.toolbar-class .rdw-editor-toolbar {
  display: flex;
  align-items: center;
}

.toolbar-class .rdw-editor-toolbar-wrapper {
  flex-grow: 1;
}

.toolbar-class .rdw-editor-toolbar {
  flex-grow: 1;
}

.selected-image {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-right: auto;
  margin-left: 17rem;
  position: relative;
  bottom: 150px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #e7f1e9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  cursor: pointer;
}

.dropdown-container {
  position: relative;
  margin-top: -140px;
  left: 0;
  margin-right: auto;
  margin-left: 17rem;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  width: 300px;

  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.dropdown-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-options li:hover {
  background-color: #e9f3ed;
}

.dropdown-options li {
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}

.option-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.option-title {
  font-weight: bold;
  font-size: 12px;
}

.option-description {
  font-size: 10px;
  margin-top: 4px;
  color:#686464
}

.dropdown-title {
  text-transform: uppercase;
  font-size: 12px;
}

/* Modal style */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  max-width: 90%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.modal-input:focus {
  outline: none;
}

.modal-button-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.modal-submit-button,
.modal-cancel-button {
  padding: 8px 47px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-size: 16px;
}

.modal-cancel-button {
  background-color: #ccc;
  margin-left: 0;
}

.modal-input:focus {
  outline: none;
}

  
.modal-submit-button:hover,
.modal-cancel-button:hover {
  opacity: 0.8;
}

.modal-error-message {
  color: red;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #007bff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* Word count */

.Editor-footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.word-count {
  font-size: 14px;
  color: #555555;
  margin-left: auto;

}

.post-button {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background-color: green;
  top: 50px;
  left: 60px;
  cursor: pointer;
  flex:0 0 auto; 
}
